*.swp
*.pyc
*./idea/*
*.lprof
*.png
/tmp
/data
*.prof
*.txt
/logs
*.DS_Store
/.idea
/data_tmp
/log
/reproduce_WayPtNavResults
/reachability/data_tmp
/reproduce_WayptNavResults
/reproduce_WayptNavResults_v3
